<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <!--<th>ID</th>-->
            <th>扫描类型</th>
            <th>文件名</th>
            <th>MD5</th>
            <th>扫描机器</th>
            <th>扫描结束时间</th>
            <th>扫描持续时间</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!--<td>{{record.info.id}}</td>-->
            <td>{{record.info.category|upper}}</td>
            <td>{{record.target.file.name}}</td>
            <td><a href="{% url "analysis.views.report" record.info.base64id %}">{{record.target.file.md5}}</a></td>
            <td>{{record.info.machine.name}}</td>
            <td>{{record.info.ended}}</td>
            <td>{{record.info.duration}} 秒</td>
        </tr>
    </tbody>
</table>
