{% extends "base.html" %}
{% block content %}

<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
{% if error %}
<div class="alert alert-danger"> {{error}} </div>
{% endif %}
<form class="form-horizontal" method="post" action="" role="form">
{% csrf_token %}
<fieldset>
      <div id="legend" class="center">
        <legend class="">用户注册</legend>
      </div>
    <div class="control-group">      
          <label class="col-sm-3 control-label" for="input01">用户名</label>
          <div class="col-sm-9">
	    <input type="username" name="username" placeholder="用户名" class="form-control" value="{{ user_info.username }}" disabled="disabled">
            <p></p>
            <br>
	  </div>
          
    </div>

    <div class="control-group">
          <label class="col-sm-3 control-label" for="input01">新密码</label>
          <div class="col-sm-9">
            <input type="password" name="password" placeholder="密码" class="form-control">
            <p class="help-block">设置6到21位的密码</p>
          </div>
    </div>

    <div class="control-group">

          <label class="col-sm-3 control-label" for="input01">重复新密码</label>
          <div class="col-sm-9">
            <input type="password" name="retype-password" placeholder="重复密码" class="form-control">
            <p class="help-block"></p>
          </div>
          
    </div>

    <div class="control-group">
          <label class="col-sm-3 control-label" for="input01">安全邮箱</label>
          <div class="col-sm-9">
            <input type="text" name="email" placeholder="安全邮箱" class="form-control" value="{{ user_info.email }}">
            <p class="help-block"></p>
          </div>
    </div>

    <div class="control-group">
          <!-- Button -->
          <div class="col-sm-3"></div>
          <div class="col-sm-2">
            <button id="submit" class="btn btn-success">更改</button>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
            <button class="btn btn-success">清空</button>
          </div>
          <div class="col-sm-3"></div>
    </div>
</fieldset>
  </form>
</div>
<div class="col-sm-3"></div>
</div>

<script type="text/javascript">
$('#submit').click(function(){
    $($(".control-group")[0]).removeClass('has-error');
    $($(".control-group")[1]).removeClass('has-error');
    $($(".control-group")[2]).removeClass('has-error');
    $($(".control-group")[3]).removeClass('has-error');
    /*$("p")[0].innerHTML="填入用户名";*/
    $("p")[1].innerHTML="设置6到21位的密码";
    $("p")[2].innerHTML="";
    $("p")[3].innerHTML="";

    /*var username = $("input[name='username']").val();*/
    var password = $("input[name='password']").val();
    var retype_password = $("input[name='retype-password']").val();
    var email = $("input[name='email']").val();;
    /*if(username=="") {
        $("p")[0].innerHTML="用户名为必填项!";
        $($(".control-group")[0]).addClass('has-error');
        return false;
    }

    if(username.length>20) {
        $("p")[0].innerHTML="请使用长度小于20位的用户名!";
        $($(".control-group")[0]).addClass('has-error');
        return false;
    }*/

    if(password=="") {
        $("p")[1].innerHTML="密码为必填项!";
        $($(".control-group")[1]).addClass('has-error');
        return false;
    }

    if(password.length<6||password.length>21) {
        $("p")[1].innerHTML="密码必须为6到21位的大小写字母,数字或下划线!";
        $($(".control-group")[1]).addClass('has-error');
        return false;
    }

    if(retype_password=="") {
        $("p")[2].innerHTML="重复密码不能为空!";
        $($(".control-group")[2]).addClass('has-error');
        return false;
    }

    
    if(retype_password!=password) {
        $("p")[2].innerHTML="重复密码不一致!";
        $($(".control-group")[2]).addClass('has-error');
        return false;
    }
    var email_validate = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    if(email=="") {
        $("p")[3].innerHTML="邮箱不能为空!";
        $($(".control-group")[3]).addClass('has-error');
        return false;
    }

    if(!email_validate.test(email)){
        $("p")[3].innerHTML="邮箱格式不正确!";
        $($(".control-group")[3]).addClass('has-error');
        return false;
    }
    
    $(".form-horizontal").submit();

});

</script>

{% endblock %}
