{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>
{% if completed %}
    <div class="alert alert-success"><h4>好消息! :-)</h4>您的扫描任务已经完成，请查看 <a href="{% url "analysis.views.report" task_id %}">扫描报告</a>.</div>
{% else %}
    <script type="text/JavaScript">setTimeout("location.reload(true);",30000);</script>
    <div class="alert alert-info">
        <h4>再耐心等待一下...</h4>
        <p>您的扫描任务还没有完成，现在的状态是 <b>{{status}}</b>。本页面每30秒会刷新一次。</p>
        <div class="progress progress-striped active" style="margin-top: 10px;">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>
{% endif %}
{% endblock %}
