{% extends "base.html" %}
{% block content %}
<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
</style>
<script type='text/javascript'>
$(document)
    .on('change', '.btn-file :file', function() {
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;

        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }

    });
});
</script>

<div class="row">
<div class="col-md-6 col-md-offset-3 center">

<p>
<h2>文件扫描</h2>
</p>
<form role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="input-group col-md-6">
    <span class="input-group-btn">
        <input type="text" class="form-control" readonly>
        <span class="btn btn-primary btn-file">
            选择文件 <input type="file" name="sample" multiple="multiple">
        </span>
    </span>
</div>
{% if not user.is_anonymous %}
<div class="panel" id="accordion" style="margin-top: 20px;">
    <div class="panel panel-default" style="margin-bottom: 0px;">
        <div class="panel-heading">
            <a class="accordion-toggle collapse in" data-toggle="collapse" data-parent="#accordion" href="#options"><i class="icon icon-cog"></i> 高级选项</a>
        </div>
        <div id="options" class="panel-collapse collapse" style="text-align: left;">
            <div class="panel-body">
                <div class="form-group">
                    <label for="form_package">分析软件包</label>
                    <select class="form-control" id="form_package" name="package">
                        <option value="" active>自动检测</option>
                        {% for package in packages %}
                        <option value="{{package}}">{{package}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="form_machine">选择虚拟机</label>
                    <select class="form-control" id="form_machine" name="machine">
                    {% for id,label in machines %}
                        <option value="{{id}}">{{label}}</option>
                    {% endfor %}
                    </select>
                </div>
                {% if config.tags %}
                <div class="form-group">
                    <label for="form_tags">虚拟机标签</label>
                    <input type="text" class="form-control" id="form_tags" name="tags" />
                </div>
                {% endif %}
                {% if config.gateways %}
                <div class="form-group">
                    <label for="form_gateway">网关</label>
                    <select class="form-control" id="form_gateway" name="gateway">
                    <option value="" active>默认</option>
                    {% for k,v in gateways.items %}
                        <option value="{{k}}">{{k}}</option>
                    {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="form_timeout">超时/秒</label>
                    <input type="text" class="form-control" id="form_timeout" name="timeout" />
                </div>
                <div class="form-group">
                    <label for="form_options">选项</label>
                    <input type="text" class="form-control" id="form_options" name="options" />
                </div>
                <div class="form-group">
                    <label for="form_priority">优先级</label>
                    <select class="form-control" id="form_priority" name="priority">
                        <option value="1">低</option>
                        <option value="2">中</option>
                        <option value="3">高</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="form_custom">时钟</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="clock"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker({
                            format: 'MM-DD-YYYY HH:mm:00'
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="form_custom">自定义</label>
                    <input type="text" class="form-control" id="form_custom" name="custom" />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="free" /> 无注入 <span class="text-muted"><small>(禁用行为分析)</small></span>
                    </label>
                </div>
                {% if config.tor %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="tor" /> 启用 Tor 代理
                    </label>
                </div>
                {% endif %}
                {% if config.kernel %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="kernel_analysis" /> 启用 zer0m0n 内核行为分析
                    </label>
                </div>
                {% endif %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="nohuman" /> 禁用自动交互
                    </label>
                </div>
                {% if config.procmemory %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="process_memory" /> 进程内存转存
                    </label>
                </div>
                {% endif %}
                {% if config.memory %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="memory" /> 全内存转储 <span class="text-muted"><small>(如果启用“内存”处理模块，将启动波动性分析)</small></span>
                    </label>
                </div>
                {% endif %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="enforce_timeout" /> 执行超时
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="user_status" /> 不公开
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<p> 登录后, 可以使用文件扫描高级选项. </p>
{% endif %}
<div style="margin-top: 20px;"><button type="submit" class="btn btn-primary btn-lg">开始扫描</button></div>
</form>
</div>
</div>
{% endblock %}
