{% extends "base.html" %}
{% block content %}

    <p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>
         <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> 魔盾安全扫描</a></li>
              <li><a href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> 服务条款</a></li>
              <li><a href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> 隐私</a></li>
              <li><a href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> 联系我们</a></li>
              <li><a href="#tab5" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> 支持我们</a></li>
         </ul>
         <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
		      <p style = "margin:10px">这是一个互联网高速发展的时代，但同时也是一个病毒，木马横行的时代。计算机病毒到底如何感染你的电脑？木马是怎样取得系统的控制权？你的机密信息是如何被泄漏的？传统的防病毒软件并不会帮助你回答这些问题，而传统的计算机实时监控软件可能正在删除你的系统文件而导致你的系统崩溃。</p>

		      <p style = "margin:10px">魔盾安全扫描 (maldun.com) 提供了一个免费的基于虚拟执行的恶意软件及网页链接分析平台。你可以在线上传需要分析的文件，或提交可疑的网页链接，魔盾安全扫描会在虚拟环境中执行这个文件或打开链接，并对各种恶意软件行为进行监控和评分，从而帮助你了解该文件或链接是否隐藏了恶意代码，以及是否会对你的电脑造成危害。</p>

		      <p style = "margin:10px">对于每一个提交的文件，除了恶意软件特征汇总及我们的最终评分之外，我们能提供：<br>
			1，文件基本信息分析，包括文件名，文件大小，文件类型，文件特征码等。<br>
			2，文件静态分析，包括PE头，导入导出链接库，字符串等。<br>
			3，文件防病毒引擎扫描(VirusTotal)，超过50种主流防病毒软件实时分析结果。<br>
			4，文件行为分析，虚拟机执行该文件时对系统所进行的各种调用和读写，包括注册表，文件系统，进程等的变化。<br>
			5，网络特征分析，该文件对网络的请求和PCAP包下载。<br>
			6，系统执行该文件时所投放在系统中的其他文件，以及相关信息。<br>
			7，相似的文件分析。<br>
			8，不同格式的魔盾安全扫描分析报告下载。<br>
			9，您和其他用户对该文件的评价及评论。<br>
			10， 运行截图，虚拟机在执行该文件时的系统截图。<br>

		      <p style = "margin:10px">对于每一个提交的网页链接，除了恶意软件特征汇总及我们的最终评分之外，我们能提供：<br>
			1，链接行为分析，虚拟机在浏览器中打开该链接时对系统所进行的各种调用和读写，包括注册表，文件系统，进程等的变化。<br>
			2，网络特征分析，该链接对网络的请求和PCAP包下载。<br>
			3，系统打开该链接时所投放在系统中的文件，以及相关信息。<br>
			4，相似的URL分析。<br>
			5，不同格式的魔盾安全扫描分析报告下载。<br>
			6，您和其他用户对该URL的评价及评论。<br>
			7，运行截图，虚拟机在打开该链接时的系统截图。</p>

		      <p style = "margin:10px">此外，我们还对注册用户提供文件特征搜索服务，用户可以通过不同的关键字或特征码对感兴趣的文件/URL及魔盾安全扫描报告进行搜索。</p>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                      <p style = "margin:20px">本服务条款（简称“条款”）适用于您访问www.maldun.com和使用我们的魔盾安全扫描服务（“服务”），以及我们的服务中涉及的任何信息，文字，图片，网址，文件或其他材料上的传／下载等（“内容”）。通过使用和/或访问我们的服务，即表示您已阅读，理解并同意受这些条款的约束。</p>


		      <p style = "margin:20px">魔盾安全扫描不能替代安装在您个人电脑中的杀毒软件，我们并不能实时保护您的系统安全，我们只能提供尽可能详细的信息帮助您判断您认为可疑或想要进一步了解的文件或网页链接，但我们不对安全扫描结果负责。就算我们的安全扫描分数为健康，也并不代表这个文件或链接不是或不包含新的恶意软件或变种。同样当我们的扫描结果认为您上传的文件或链接可能包含恶意软件，也并不代表该文件或链接一定有安全隐患，因为我们的安全规则并不一定100%准确，可能存在错误报警。请自行承担使用魔盾安全扫描的风险。</p>

		      <p style = "margin:20px">我们对提交的样本和生成的扫描报告采用开放和共享的原则。除非在提交样本时选择隐私选项，您提交的样本会被存储在魔盾的系统中，您的安全扫描结果也会被所有人看到。 我们不对用户提交的数据和文件承担责任。由于下载我们网站上的样本而感染您自己的系统，我们也不承担任何责任。</p>

		      <p style = "margin:20px">您不应该做的:<br>
			- 上传受版权保护的材料及合法的商业应用。<br>
			- 上传机密或保密文件。<br>
			- 以任何非法方式使用魔盾安全扫描。<br>
			- 利用魔盾安全扫描进行恶意的测试或恶意软件的调试。<br>
			- 利用各种自动化或机器人工具爬取我们的数据。如果您需要数据，请与我们取得联系。</p>  
                    </div>
		    <div class="tab-pane fade" id="tab3">
                      <p style = "margin:30px">隐私政策</p>
                      <p style = "margin:20px">魔盾安全扫描清楚的了解我们的责任，用户的信赖，以保护用户信息的隐私。我们充分尊重您的隐私权，如果没有您的明确许可，不会收集任何关于您的个人信息。</p>
                      <p style = "margin:20px">对于您所提交的数据，如样本，评论等，我们只存储在魔盾安全扫描的系统中。我们会利用这些数据来改进我们的系统，保护魔盾安全扫描及其用户。我们不会将其提供给任何第三方。</p>
                      <p style = "margin:20px">对于您所提交的数据，如果您选择隐私提交，即不分享给其他用户，我们充分尊重您的决定， 并不会将任何关于您提交文件的扫描信息分享在我们的网站上或分享给任何第三方。但我们可能会将扫描任务计入我们的统计数据。</p>
                    </div>
		    <div class="tab-pane fade" id="tab4">
                    </div>
		    <div class="tab-pane fade" id="tab5">
		      <p style = "margin:20px">魔盾安全扫描致力于提供免费的恶意软件分析服务，以此推动广大计算机和网络用户对恶意软件的了解和重视。我们需要您的支持：<br>
			1， 请在我们的网站注册。注册用户可以搜索我们样本库中的扫描结果，更便捷的查询自己的扫描任务状态，以及对扫描结果进行评论。我们还将逐步开放更多的注册用户专享功能。<br>
			1， 请分享我们的网站和服务给您身边的人。<br>
			2， 恶意软件分析的路还很长，我们的网站才刚刚起步，我们欢迎各种建议和需求。<br>
			3， 我们希望您对我们的分析结果进行评价和评论，恶意软件分析需要不断的完善，我们会根据评论调整我们的系统，使我们的分析更加精确。<br>
			4， 如果您是信息安全从业人员或技术牛，我们欢迎您提供或分享恶意软件行为模式和规则。</p>
		    </div>
          </div>

{% endblock %}
