<section id="cif">
    <h4>CIF 报告</h4>
    {% if analysis.cif %}
        <table class="table table-striped table-bordered">
            <tr>
                <th width="20%">地址</th>
                <th width="15%">检测时间</th>
                <th width="15%">报告时间</th>
                <th width="10%">限制</th>
                <th width="5%">信心</th>
                <th width="5%">评价</th>
                <th width="30%">描述</th>
            </tr>
            {% for result in analysis.cif %}
            {% if result.address %}
            <tr>
                <td>{{result.address}}</td>
                <td>{{result.detecttime}}</td>
                <td>{{result.reporttime}}</td>
                <td>{{result.restriction}}</td>
                <td>{{result.confidence}}</td>
                <td>{{result.assessment}}</td>
                <td>{{result.description}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>

    {% else %}
        <p>无 CIF 结果</p>
    {% endif %}
</section>
