<script src="{{ STATIC_URL }}js/hexdump.js"></script>
<section id="udp" class="tcpudp">
    <h4>UDP</h4>
    {% if analysis.network.udp %}
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tr>
                        <th>源地址</th>
                        <th>源端口</th>
                        <th>目标地址</th>
                        <th>目标端口</th>
                    </tr>
                    {% for p in analysis.network.udp %}
                        <tr class="connrow">
                            <input type="hidden" name="conn" value="{{p.src}},{{p.sport}},{{p.dst}},{{p.dport}},udp" />
                            <td>{{p.src}}</td>
                            <td>{{p.sport}}</td>
                            <td>{{p.dst}} {{ iplookups|get_item:p.dst }}</td>
                            <td>{{p.dport}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="stream col-md-6"></div>
        </div>
    {% else %}
        <p>无UDP连接纪录.</p>
    {% endif %}
</section>
