<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title>魔盾安全扫描</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Cuckoo Sandbox">
<meta name="author" content="Cuckoo Sandbox">

<!-- Le styles -->
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="{% url "dashboard.views.index" %}"><span class="glyphicon glyphicon-dashboard"></span> 主页</a></li>

        <li><a href="{% url "analysis.views.search" %}"><span class="glyphicon glyphicon-search"></span> 搜索</a></li>

                <!--<li><a href="{% url "submission.views.index" %}"><span class="glyphicon glyphicon-upload"></span> 样本提交</a></li>-->
        
        <li class="dropdown">
            <a id="sampledropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="glyphicon glyphicon-upload"></span> 样本提交</a>
            <ul class="dropdown-menu" aria-labelledby="sampledropdown">
                <li><a href="{% url "submission.views.submit_file" %}"><span class="glyphicon glyphicon-upload"></span>文件提交</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "submission.views.submit_url" %}"><span class="glyphicon glyphicon-upload"></span>URL提交</a></li>
            </ul>
        </li>
        
        <li><a href="{% url "analysis.views.index" %}"><span class="glyphicon glyphicon-list"></span> 分析结果</a></li>
                <li><a href="{% url "technique.views.index" %}"><span class="glyphicon glyphicon-file"></span> 技术文档</a></li>
        <li><a href="{% url "aboutus.views.index" %}"><span class="glyphicon glyphicon-bullhorn"></span> 关于我们</a></li>
                <!--<li><a href="{% url "analysis.views.pending" %}"><span class="glyphicon glyphicon-time"></span> Pending</a></li>
                <li><a href="{% url "statistics.views.index" %}"><span class="glyphicon glyphicon-signal"></span> Statistics</a></li>
                <li><a href="{% url "api.views.index" %}"><span class="glyphicon glyphicon-cog"></span> API</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-right:20px;">
            {% if user.is_anonymous %}
            <li> <a href="{% url 'django.contrib.auth.views.login' %}"> 登录</a> </li>
            <li> <a href="{% url 'account.views.index' %}"> 注册</a> </li>
            {% else %}
            <li class="dropdown">
                <a id="user_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">{{ user }}</a>
                <ul class="dropdown-menu" aria-labelledby="user_dropdown">
                    <li><a href="{% url "account.views.profile" %}">我的信息</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url "analysis.views.pending" %}">我的扫描</a></li>
                </ul>
            </li>
            <li> <a href="{% url 'django.contrib.auth.views.logout' %}"> 退出</a> </li>
            {% endif %}
            </ul>
        </nav>
    </nav>
</header>
