<section id="static_antivirus">
    {% if analysis.virustotal and analysis.virustotal.response_code %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>反病毒引擎/厂商</th>
            {% if analysis.info.category == "file" %}
                <th>病毒名/规则匹配</th>
            {% else %}
                <th>结果</th>
            {% endif %}
        </tr>
        {% for av, values in analysis.virustotal.scans.items %}
        <tr>
            <td>{{av}}</td>
            <td>
                {% if analysis.info.category == "file" %}
                    {% if not values.result %}
                        <span class="text-muted">未发现病毒</span>
                    {% else %}
                        <span class="text-danger">{{values.result}}</span>
                    {% endif %}
                {% else %}
                    {% if not values.detected %}
                        <span class="text-muted">
                    {% else %}
                        <span class="text-danger">
                    {% endif %}
                    {{ values.result|title }}
                    </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    没有杀毒软件扫描信息.
    {% endif %}
</section>
